body {
  font-family: 'Roboto','Raleway', sans-serif;
  color: #2E2F42;}

/*Header CSS*/

.logo-link {
  text-decoration: none;
}

.logo-web {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: #4D5AE5;
}

.logo-studio {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: #2E2F42;}

.logo-studio-footer {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: #F4F4FD;
}

.header-item {
  list-style: none;
}

.header-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.header-link:active {
  color: #404BBF;
}

.contacts {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts:active {
  color: #404BBF;
}

/*Main*/

.item-main{
  list-style: none;
}

/*Section Hero*/

.hero {
  background-color: #2E2F42;
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1,07;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-align: center;
  white-space:pre-line;
}

.button-hero {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background-color:#4D5AE5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-hero:hover {
  background-color: #404bbf;
}

/*Section Information*/

.title-info, 
.title-nav, 
.title-cards {
  display: none;
}

.info-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #434455;
}

/*Section Company Work*/

.title-company-work {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

/*Section Team*/

.team {
  background-color: #F4F4FD;
}
.item-team {
  background-color: #FFFFFF;
}

.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.team-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;}

.team-text { 
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #434455;
}

/*Footer*/

.footer-website {
  background-color: #2E2F42;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #E7E9FC;
  white-space:pre-line;
}

/*Portfolio Navigation*/

.button-nav {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4D5AE5;
  background-color: #F4F4FD;
  border: 1px solid #E7E9FC;
  border-radius: 4px;
  cursor: pointer;
}
.button-nav:hover {
  color: #FFFFFF;
  background-color: #404BBF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
  0px 2px 1px rgba(0, 0, 0, 0.08), 
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Portfolio Cards*/

.row-cards {
  background-color: #FFFFFF;
  border: 1px solid #E7E9FC;
}

.cards-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.cards-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #434455;
}